body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333;
}

input[type="text"],
select,
textarea {
    width: 100%;
    
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.titulo, .form, .vinicola {
    text-align: center;
   
}

h1, h2, h3 {
    color: #641c34;
}

hr {
    border: 2px solid #641c34;
}

.form {
    width: 300px;
    margin: 0 auto;
    border: #641c34 2px solid;
    border-radius: 8px;
    padding: 20px;
}

