.title_loja{
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.inicio_loja{
    display: flex;
}
.loja_button{
    margin-left: 20px;
    width: 100px;
    height: auto;
    color: black;
    background-color: beige;
    font-weight: bold;
    border-radius: 5px 5px 5px 5px;
    border: solid black 1px;
    font-weight: bold;
}
.loja_button:hover{
    margin-left: 20px;
    width: 100px;
    height: auto;
    font-weight: bolder;
    background-color: #6b0f1a;
    border-radius: 5px 5px 5px 5px;
    color: aliceblue;
}
.ordenamento_loja{
    margin-left: 300px;

    display: flex;
}
.barra_pesquisa{
    margin-left: 50px;
    width: 400px;
    border: solid #6b0f1a 5px;
    border-radius: 0 10px 10px 10px;
}
.barra_pesquisa:hover{
    border: solid #53001c 5px;
}
.text_pesquisa{
    margin-left: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pesquisa_loja{
    display: flex;
    margin-top: 25px;
    background-color: #fdf9f4;
}
.menu_loja{
    width: 900px;
    height: auto;
    margin-left: 220px;
    border: solid #6b0f1a 10px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: rgb(255, 251, 246);
    margin-bottom: 50px;
    /*display: flex;*/
}
/*.title_menu{
    margin-left: 42%;
    color: aliceblue;
    background-color: #6b0f1a;
    width: 90px;
    height: 30px;
    margin-top: --10;
    border-radius: 0 0 10px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}*/
.img_vinho{
    width: 180px;
    height: auto;
}
.produtos{
    margin-left: 55px;
    display: flex;
}
.produtos_2{
    margin-left: 55px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.produto_1{
    width: 210px;
    height: auto;
    border: #6b0f1a solid 2px;
    background-color: white;
    border-radius: 0 14px 0 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.produto_1:hover{
    width: 210px;
    height: auto;
    border: #bb003e solid 2px;
    background-color: white;
    border-radius: 0 14px 0 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 30px;
}
.nome_vinho{
    margin-top: 0;
    margin-left: 5px;
}

.topo_loja{
    background-image: url(/src/assets/imgs/wallpaper_loja5.JPG);
    height: 450px;
    width: 100%;
    padding: 0;
    background-size: cover;
    border-radius: 0;
}
.paragrafo_loja{
    color: aliceblue;
    margin-left: 32%;
    font-family: 'Playfair Display', serif;
    padding-top: 200px;
    font-size: 3em;
}
